<div class="centrado">
    <div class="tarjeta">
        <img src="../../assets/yo.png" alt="Foto" class="foto-perfil">
        <p>
            Mi nombre es Ángel Arturo Pérez García, soy estudiante de octavo semestre de la carrera de 
            Ingeniería en Sistemas Computacionales.
        </p>
        <p>
            Entre las cosas que me gustan, mis favoritas son:
        </p>
        <ul>
            <li>Jugar juegos de azar</li>
            <li>Pasar tiempo con mis allegados (amigos, conocidos)</li>
            <li>ver el futboll</li>
            <li>etc.</li>
        </ul>
    </div>
</div>